:root {
    --main-bg-color: #0676D9;
  } 

.bg-header {
    background: var(--main-bg-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    color: white;
    /* font-size: 30px; */
    margin-bottom:20px;
}

.align-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.circle{
    background: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    color: var(--main-bg-color);
}

.alignd-circle {
    padding-top: 3px;
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.without-style {
    color: white;
    text-decoration: none;
}